* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: azure;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.main div {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(118, 118, 118);
}

.paragraph {
  min-height: 10px;
  text-align: center;
  font-size: 22px;
}

.btn {
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 6px rgb(118, 118, 118);
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: aliceblue;
}

@media screen and (max-width: 720px) {
  .paragraph {
    font-size: 18px;
  }

  h1 {
    font-size: 28px;
  }

  .btn {
    font-size: 12px;
  }
}
